<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TyrannosaurusPlex.Properties.DB" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TyrannosaurusPlex.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <TyrannosaurusPlex.Properties.DB>
            <setting name="CONNECTION_STRING" serializeAs="String">
                <value>Provider=Microsoft.ACE.OLEDB.12.0;Data Source=Z:\My Software\TyrannosaurusPlex\TyrannosaurusPlexDB.accdb</value>
            </setting>
            <setting name="HOST" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="DATABASE" serializeAs="String">
                <value>t_plex_db</value>
            </setting>
            <setting name="USER" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="PASSWORD" serializeAs="String">
                <value>1328259</value>
            </setting>
            <setting name="RECIPE_TABLE" serializeAs="String">
                <value>recipes</value>
            </setting>
            <setting name="COLUMN_SCHEMA" serializeAs="String">
                <value>id,recipe_name</value>
            </setting>
        </TyrannosaurusPlex.Properties.DB>
        <TyrannosaurusPlex.Properties.Settings>
            <setting name="CONNECTION_STRING" serializeAs="String">
                <value />
            </setting>
        </TyrannosaurusPlex.Properties.Settings>
    </userSettings>
</configuration>