<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TyrannosaurusPlex.Properties.Misc" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TyrannosaurusPlex.Properties.DB" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TyrannosaurusPlex.Properties.Misc>
            <setting name="KEYENCE_FOLDER" serializeAs="String">
                <value>L:\Keyence</value>
            </setting>
        </TyrannosaurusPlex.Properties.Misc>
        <TyrannosaurusPlex.Properties.DB>
            <setting name="HOST" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="DATABASE" serializeAs="String">
                <value>t_plex_db</value>
            </setting>
            <setting name="USER" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="PASSWORD" serializeAs="String">
                <value>1328259</value>
            </setting>
            <setting name="RECIPE_TABLE" serializeAs="String">
                <value>recipes</value>
            </setting>
            <setting name="RECIPE_TABLE_COLUMN_SCHEMA" serializeAs="String">
                <value>id,part_number,checksheet_type,key_sequence,csv_location,timestamp_col,a_col,b_col,c_col,d_col,e_col,f_col,g_col,h_col,i_col,j_col,k_col,l_col,m_col</value>
            </setting>
            <setting name="CHECKSHEET_TABLE" serializeAs="String">
                <value>checksheet_types</value>
            </setting>
            <setting name="CHECKSHEET_TABLE_COLUMN_SCHEMA" serializeAs="String">
                <value>sheet_type</value>
            </setting>
        </TyrannosaurusPlex.Properties.DB>
    </userSettings>
</configuration>